<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid ms-3">
        <a class="navbar-brand" href="#">Recipe Book</a>
        <button class="navbar-toggler me-3" type="button" (click)="openOffcanvas(offcanvasContent)">
            <i class="fas fa-bars"></i>
        </button>
        
        <ng-template #offcanvasContent let-offcanvas>
            <div class="offcanvas-header ms-3 mt-2">
                <h2 class="offcanvas-title" id="offcanvasNavbarLabel">Recipe Book</h2>
                <button type="button" class="btn ms-3" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"><i class="fa-solid fa-xmark fa-2xl"></i></button>
            </div>

            <div class="offcanvas-body">
                <div class="container-fluid ms-auto mb-3">
                    <form class="d-flex" role="search">
                      <input class="form-control me-2" type="search" placeholder="Search for recipes here" aria-label="Search">
                      <button class="btn btn-outline-success" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </form>
                </div>
                
                <ul class="nav flex-column nav-underline ms-3">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Account
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" (click)="onSelect('recipe')">Recipes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" (click)="onSelect('shopping-list')">Shopping List</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Save Data</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Fetch Data</a>
                    </li>
                </ul>
            </div>

        </ng-template>
    
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item ms-3">
                    <a class="nav-link" href="#" (click)="onSelect('recipe')">Recipes</a>
                </li>
                <li class="nav-item ms-3">
                    <a class="nav-link" href="#" (click)="onSelect('shopping-list')">Shopping List</a>
                </li>
            </ul>

            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item me-3">
                    <button type="button" class="btn"><i class="fa-solid fa-user"></i></button>
                </li>

                <li class="nav-item me-3">
                    <form *ngIf="searchVisible" class="d-flex" role="search" (blur)="toggleSearch()">
                        <input class="form-control me-2" type="search" placeholder="Search for recipes" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </form>
                    <button *ngIf="!searchVisible" type="button" class="btn" (click)="toggleSearch()"><i class="fa-solid fa-magnifying-glass"></i></button>
                </li>

                <li class="nav-item me-3">
                    <button type="button" class="btn" (click)="openOffcanvas(offcanvasContent)">
                        <i class="fas fa-bars"></i>
                    </button>
                </li>
            </ul>
        </div>

    </div>
</nav>


  