.font {
  font-size: larger;
}

::placeholder {
  font-family: "Gill Sans", sans-serif;
}

.btn {
  border-color: transparent !important;
}

.dropdown-toggle::after {
  display: none !important;
}

.dropdown {
  /* background-color: transparent !important; */
  border-color: transparent !important;
}
