<app-header></app-header>
<div class="container mt-3">
  <h1 id="recipeday_header" class="mt-5 text-center">Recipes of the Day</h1>
  <p id="recipeday_p" class="text-center">
    Wondering what to make today? Maybe try some of these recipes below!
  </p>

  <div class="text-center mt-5">
    <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
  </div>
</div>

<!-- copied from Ngbootstrap docs -->
<div class="container">
  <ngb-carousel
    #carousel
    [interval]="5000"
    [pauseOnFocus]="pauseOnFocus"
    pauseOnHover="pauseOnHover"
    [showNavigationIndicators]="false"
    class="next-prev-carousel"
  >
    <ng-template *ngFor="let recipe of todayRecipes" ngbSlide>
      <a [routerLink]="['/todays-recipes', recipe.name]">
        <div class="card carousel-card bg-light">
          <img
            class="card-img-top"
            src="{{ recipe.imagePath }}"
            alt="Recipe Image"
          />
          <div class="card-body">
            <h5 class="card-title">{{ recipe.name }}</h5>
            <p class="card-text">{{ recipe.description }}</p>
          </div>
        </div>
      </a>
    </ng-template>
  </ngb-carousel>
</div>

<!-- masonry layout -->

<div class="container mt-5 mb-5" *ngIf="!isLoading">
  <h2 id="yourrecipes_header" class="mt-5 text-center" *ngIf="loggedIn">
    Your Recipes
  </h2>
  <h2 id="yourrecipes_header" class="mt-5 text-center" *ngIf="!loggedIn">
    More Recipes
  </h2>
  <p id="yourrecipes_p" class="text-center" *ngIf="!loggedIn">
    Below is more recipes made and shared by users. Feel free to click on a card
    to view more details of a recipe you're interested in.
  </p>
</div>

<ngx-masonry [options]="masonryOptions" class="masonry-grid">
  <div *ngIf="!loggedIn">
    <div
      ngxMasonryItem
      class="masonry-item"
      *ngFor="let recipe of todayRecipes"
    >
      <a [routerLink]="['/recipes', recipe.name]">
        <div class="card recipe-card card-item bg-light">
          <img
            [src]="recipe.imagePath"
            class="card-img-top"
            alt="{{ recipe.name }}"
          />
          <div class="card-body">
            <h5 class="card-title text-center">{{ recipe.name }}</h5>
            <small>{{ recipe.description }}</small>
          </div>
        </div>
      </a>
    </div>

    <div *ngIf="loggedIn">
      <div *ngFor="let recipe of recipes">
        <a [routerLink]="['/recipes', recipe.name]">
          <div class="card recipe-card card-item">
            <img
              [src]="recipe.imagePath"
              class="card-img-top"
              alt="{{ recipe.name }}"
            />
            <div class="card-body">
              <h5 class="card-title text-center">{{ recipe.name }}</h5>
              <small>{{ recipe.description }}</small>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div ngxMasonryItem class="masonry-item">
    <a [routerLink]="['/recipes', 'add']">
      <div class="card recipe-card card-item" style="width: 20rem">
        <img
          src="https://cdn-icons-png.flaticon.com/512/992/992651.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title text-center">Add a recipe</h5>
          <small>Create a new recipe</small>
        </div>
      </div>
    </a>
  </div>
</ngx-masonry>
