* {
  box-sizing: border-box;
}

/* card carousel */
/* .image-class {
  object-position: center;
  object-fit: cover;
  height: 550px;
  width: 100%;
} */

.carousel-card {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.carousel-card .card-img-top {
  width: 100%;
  height: auto;
  max-height: 500px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.carousel-card .card-body {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.card {
  border-radius: 20px;
}

.card-body {
  background-color: #f8f9fa;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(0.5);
}

/* card carousel END*/

/* headers tags */
#recipeday_p {
  font-size: larger;
}

#recipeday_header,
#yourrecipes_header {
  font-weight: 600;
}

#yourRecipes {
  padding-top: 3.5rem;
  padding-bottom: 2.8rem;
}

#yourrecipes_p {
  font-size: large;
  /* display: block; */
}
/* headers tags END */

/* masonry layout */
.recipe-card {
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.recipe-card:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transform: translate3D(0, -10px, 0);
}

.recipe-card {
  overflow: auto;
  height: auto;
}

.card-item {
  margin-bottom: 2em;
  break-inside: avoid;
}

.masonry-item {
  float: left;
  width: 320px;
  margin-bottom: 10px;
}

.masonry-grid {
  margin: 0 auto;
}
/* masonry layout END */

a {
  text-decoration: none;
}
