<div
  class="container h-100 d-flex flex-column justify-content-center align-items-center vh-100"
>
  <div class="alert alert-danger" *ngIf="error">{{ error }}</div>
  <div>
    <a routerLink="/home" class="navbrand"
      ><img src="/assets/navbrand.png" alt="navbrand"
    /></a>
  </div>
  <div *ngIf="isLoading">
    <app-loading-spinner></app-loading-spinner>
  </div>
  <div
    class="card p-3 mx-auto rounded shadow background-img"
    style="width: 26rem"
    *ngIf="!isLoading"
  >
    <h4 class="card-title mt-3 mb-3 ms-3 me-3 text-center" *ngIf="!isLoading">
      {{
        isSignup ? "Sign up now to save your recipes" : "Log in to Recipe Book"
      }}
    </h4>
    <form [formGroup]="authForm" (ngSubmit)="onSubmit()" *ngIf="!isLoading">
      <div class="form-group mb-3 ms-2 me-2">
        <label for="email">Email</label>
        <input
          formControlName="email"
          type="email"
          class="form-control"
          id="email"
          placeholder="Enter your email"
        />
      </div>
      <div class="form-group mb-3 ms-2 me-2">
        <label for="password">Password</label>
        <input
          formControlName="password"
          type="password"
          class="form-control"
          id="password"
          placeholder="Create a password"
        />
        <label *ngIf="authForm.touched && isSignup" class="invalid-password"
          >Your password must contain at least 1 uppercase letter, 1 number, and
          1 special character (!@#$%^&*).</label
        >
      </div>

      <button
        [disabled]="!authForm.valid"
        type="submit"
        class="signup-btn btn btn-success rounded-pill mt-5 d-block mx-auto"
      >
        {{ isSignup ? "Sign up" : "Log in" }}
      </button>

      <div class="d-flex justify-content-center align-items-center mt-3">
        <p>
          {{ isSignup ? "Have an account?" : "Don't have an account?" }}
          <span class="switch" (click)="onSwitch()" routerLink="/auth">{{
            isSignup ? "Log in" : "Sign up"
          }}</span>
        </p>
      </div>

      <pre>{{ authForm.status }}</pre>
      <pre>{{ authForm.value | json }}</pre>
    </form>
  </div>
</div>
