<div class="row ms-3 mb-5">
  <div class="row">
    <div class="col-xs-12">
      <img
        [src]="recipe.imagePath"
        alt="{{ recipe.name }}"
        class="img-responsive"
      />
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h1>{{ recipe.name }}</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div ngbDropdown class="btn-group">
        <button type="button" class="btn btn-primary" ngbDropdownToggle>
          Manage Recipe
        </button>
        <div ngbDropdownMenu>
          <button
            class="dropdown-item"
            (click)="onAddIngredientsToShoppingList()"
            style="cursor: pointer"
          >
            Add Ingredients to Shopping List
          </button>
          <button class="dropdown-item" (click)="onEditRecipe()">
            Edit Recipe
          </button>
          <button class="dropdown-item" (click)="onDeleteRecipe()">
            Delete Recipe
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 mt-2 mb-2">
      {{ recipe.description }}
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let ingredient of recipe.ingredients"
        >
          {{ ingredient.name }} — {{ ingredient.amount }} ({{
            ingredient.unit
          }})
        </li>
      </ul>
    </div>
  </div>
</div>
