<div class="mt-4">
    <hr>
</div>

<div class="container mb-2">
    <div class="row">
        <div class="col-md-8">
            <h4>Recipes ({{ recipes.length }})</h4>
        </div>
        <div class="col-6 col-md-1">
            <button type="button" class="btn" (click)="toggleView()" ngbTooltip="Toggle View"><i class="fa-regular" [class]="isView ? 'fa-eye' : 'fa-eye-slash'"></i></button>
        </div>
        <div class="col-6 col-md-1">
            <button type="button" class="btn" (click)="addRecipe()" ngbTooltip="Add Recipe"><i class="fa-solid fa-plus"></i></button>
        </div>
        <div class="col-6 col-md-1">
            <button type="button" class="btn" (click)="addRecipe()" ngbTooltip="Delete Recipe"><i class="fa-solid fa-minus"></i></button>
        </div>
        <div class="col-6 col-md-1">
            <button type="button" class="btn" (click)="isReorder = !isReorder" ngbTooltip="Reorder Recipes"><i class="fa-solid" [class]="isReorder ? 'fa-ban' : 'fa-arrows-up-down'"></i></button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="container">
            <ng-container *ngIf="isView">
                <div cdkDropListGroup>
                    <div cdkDropList (cdkDropListDropped)="drop($event)">
                        <app-recipe-item *ngFor="let recipeElement of recipes" 
                        [recipe]="recipeElement"
                        (recipeSelected)="onRecipeSelected(recipeElement)"
                        cdkDrag
                        [cdkDragDisabled]="!isReorder"></app-recipe-item>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>
