<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success" (click)="addRecipe()">New Recipe</button>
    </div>
</div>

<hr>
<h4>Recipes ({{ recipes.length }})</h4>
<button type="button" class="btn" (click)="toggleGridView()"><i class="fa fa-table-cells-large"></i></button>
<button type="button" class="btn" (click)="toggleListView()"><i class="fa fa-list"></i></button>

<div class="row">
    <div class="col-xs-12">
        <div class="container">
            <ng-container *ngIf="!isGridView">
                <app-recipe-item *ngFor="let recipeElement of recipes" 
                [recipe]="recipeElement"
                (recipeSelected)="onRecipeSelected(recipeElement)"></app-recipe-item>
            </ng-container>
        </div>
    </div>
</div>